<footer class="footer-hs navbar-fixed-bottom">
    <div class="container-fluid">

    <div class="col-md-4">
        <a href="https://www.github.com/1jared123"><img alt="Github" src="assets/github1.png" width="20" height="20"></a>

        <a href="https://www.linkedin.com/"><img alt="Linkedin" src="assets/linkedin.png" width="20" height="20"></a>

        <a href="https://www.stackoverflow.com"><img alt="StackOverflow" src="assets/stackoverflow.png" width="20" height="20"></a>
    </div>
        <p>&copy; 2017 <a href="/">Jared Moscrip</a></p>

    </div>
</footer>