<footer class="footer-hs navbar-fixed-bottom">
    <div class="container-fluid">

    <div class="col-md-12">
    &copy; 2017 <a href="/">Jared Moscrip</a>
    
        <p><a href="https://www.github.com/1jared123"><img alt="Github" src="assets/github1.png" width="30" height="30"></a>

        <a href="https://www.linkedin.com/"><img alt="Linkedin" src="assets/linkedin.png" width="30" height="30"></a>

        <a href="https://www.stackoverflow.com"><img alt="StackOverflow" src="assets/stackoverflow.png" width="30" height="30"></a></p>

        

    </div>
        
    </div>
</footer>