<div class="container">
	<img src="https://media.giphy.com/media/NWg7M1VlT101W/giphy.gif" class="img-responsive center gandalf" alt="no">

	<img src="https://media.giphy.com/media/to3I2nkywr2PS/giphy.gif" class="img-responsive center gandalf" alt="no">
</div>