<div class="container main-screen">

    <div class="row">

        <h1>Welcome to All About Me!</h1>

        <div class="col-md-12 welcome-text">

            <img class="cat" src="../assets/catmeme.jpg">

        {{!-- </div>

        <div class="col-md-6 welcome-text"> --}}
        
            <p>
                I enjoying messing around on computers and trying to figure them out before I just completely mess them up. Which has happened more than once.        
            </p>

            <br>
            
            <p>
                I'm currently working on getting better at understanding HTML and CSS and completing a Coding Boot Camp sponcered by Northwestern. Things are challenging and difficult at times, but we have plenty of great teachers and TAs and class mates to help one another figure out our code!
            </p>  

        </div>        
    </div>
</div>


