<div class="container">
			
	<div class="row">

		<section id="portfolio"> 
		
			<h2>
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
					Projects!
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
			</h2>

			<div class="col-md-10">

				<a href="/scraped">
					<img class="toystory"  src="../assets/scrapenewspic.jpg" 
					alt="Scraping Football News" height="400" width="400">
				</a>
				
				<a href="error">
					<img class="toystory"  src="../assets/catmeme.jpg"
					alt="Fun With Strings" height="400" width="400">
				</a>

				<a href="error">
					<img class="toystory"  src="../assets/catmeme.jpg"
					alt="Code With Dory" height="400" width="400">
				</a>

				<a href="error">
					<img class="toystory" src="../assets/catmeme.jpg"
					alt="This isn't Java" height="400" width="400">
				</a>

				<a href="error">
					<img class="toystory" src="../assets/catmeme.jpg"
					alt="Our Last Hope" height="400" width="400">
				</a>

				<a href="error">
					<img class="toystory" src="../assets/catmeme.jpg"
					alt="Everyone's Fantasy" height="400" width="400">
				</a>

				<a href="error">
					<img class="toystory" src="../assets/catmeme.jpg"
					alt="Warning Sign" height="400" width="400">
				</a>

			</div>
		</section>
	
	</div>


</div>