<div class="container">

    <div class="col-md-12">

        <h1>Scraping news from websites!</h1>

        <img class="screenshot"  src="../assets/scrapenewspic.jpg" alt="Scraping Football News Screenshot" height="300" width="300">
        
        <p>
            Project description: It's the only project that I still have deployed to Heroku! 
        </p>

        <p>
            But it's use is to get the latest college football news from ESPN and then it allows you to comment on the topics as well as see other peoples comments. 
        </p>

        <br>

        <p>
            Tools: Lots.
        </p>

        <br>

        <a href="https://github.com/1jared123/scrape_News.git">Github</a>
        <a href="https://hidden-reef-12821.herokuapp.com/all">App link</a>

    </div>

<!-- end container -->
</div>